<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
       						 http://www.springframework.org/schema/beans/spring-beans.xsd
      						 http://www.springframework.org/schema/context
      						 http://www.springframework.org/schema/context/spring-context.xsd
       						 http://www.springframework.org/schema/aop
      						 http://www.springframework.org/schema/aop/spring-aop.xsd
      						 http://www.springframework.org/schema/tx
      						 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<description>Spring公共配置</description>

	<!--自动扫描包先关资源 -->
	<context:component-scan base-package="com.sj.web">

	</context:component-scan>
	<!-- EHCache总线，指定ehcache.xml的位置 -->
	<bean id="ehCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:configLocation="classpath:ehcache/ehcache.xml" p:shared="true" />

	<!-- 系统使用的缓存对象 -->
	<bean id="appCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cacheManager-ref="ehCacheManager" />

	<!--shiro配置 -->
	<import resource="applicationContext-shiro.xml" />
	<!-- 外部properties文件位置 -->
	<context:property-placeholder
		ignore-resource-not-found="true" location="classpath*:/application.properties" />

	<!--Spring帮助类 -->
	<bean id="springUtils" class="com.sj.core.utils.SpringUtils" />

	<!-- *****************************dao config begin***************************** -->
	<!-- 配置数据源dataSource -->
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.168.2.99:1521:zpt" />
		<property name="username" value="wm" />
		<property name="password" value="wangming" />

		<!-- Connection Pooling Info -->
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="100" />
		<property name="minIdle" value="0" />
		<property name="defaultAutoCommit" value="false" />
		<property name="removeAbandoned" value="true" />
	</bean>

	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 加载Mybatis全局配置文件 -->
		<property name="configLocation" value="classpath:mybatisConfiguration.xml" />
		<property name="plugins">
			<array>
				<bean class="com.sj.web.common.mybatis.plugin.PageHelper">
					<property name="properties">
						<!-- 使用下面的方式配置参数，一行配置一个 -->
						<value>
							dialect=oracle
						</value>
					</property>
				</bean>
			</array>
		</property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.sj.web.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	<!-- dialectClass=com.github.miemiedev.mybatis.paginator.dialect.OracleDialect -->
	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--定义事务切面 -->
	<aop:config expose-proxy="true" proxy-target-class="true">
		<!-- 只对业务逻辑层实施事务 -->
		<aop:pointcut id="txPointcut"
			expression="execution(* com.sj.web.services..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--查询类方法 -->
			<tx:method name="get*" read-only="true" propagation="REQUIRED" />
			<tx:method name="find*" read-only="true" propagation="REQUIRED" />
			<tx:method name="is*" read-only="true" propagation="REQUIRED" />
			<tx:method name="exist*" read-only="true" propagation="REQUIRED" />
			<tx:method name="count*" read-only="true" propagation="REQUIRED" />

			<!--更新类方法 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="set*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="send*" propagation="REQUIRED" />
			<tx:method name="Add*" propagation="REQUIRED" />

			<!--默认其他方法都是REQUIRED、ReadOnly -->
			<tx:method name="*" read-only="true" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- *****************************dao config end***************************** -->


	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->


	<!-- 多线程处理 -->

</beans>