<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.web.model.dao.system.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.sj.web.model.bean.system.SysMenu" >
    <id column="PK_SYS_MENU" property="pkSysMenu" jdbcType="VARCHAR" />
    <result column="MENUCODE" property="menucode" jdbcType="VARCHAR" />
    <result column="MENUNAME" property="menuname" jdbcType="VARCHAR" />
    <result column="DISPLAYNAME" property="displayname" jdbcType="VARCHAR" />
    <result column="DISPLAYORDER" property="displayorder" jdbcType="DECIMAL" />
    <result column="LEV" property="lev" jdbcType="DECIMAL" />
    <result column="PARENTCODE" property="parentcode" jdbcType="VARCHAR" />
    <result column="ICONCLS" property="iconcls" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="ENABLEFLAG" property="enableflag" jdbcType="CHAR" />
    <result column="ADMINFLAG" property="adminflag" jdbcType="CHAR" />
    <result column="MENUTYPE" property="menutype" jdbcType="CHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
    <result column="TS" property="ts" jdbcType="VARCHAR" />
    <result column="DR" property="dr" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_MENU
    where PK_SYS_MENU = #{pkSysMenu,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sj.web.model.bean.system.SysMenu" >
    insert into SYS_MENU (PK_SYS_MENU, MENUCODE, MENUNAME, 
      DISPLAYNAME, DISPLAYORDER, LEV, 
      PARENTCODE, ICONCLS, URL, 
      ENABLEFLAG, ADMINFLAG, MENUTYPE, 
      REMARK, CREATEUSER, TS, 
      DR)
    values (#{pkSysMenu,jdbcType=VARCHAR}, #{menucode,jdbcType=VARCHAR}, #{menuname,jdbcType=VARCHAR}, 
      #{displayname,jdbcType=VARCHAR}, #{displayorder,jdbcType=DECIMAL}, #{lev,jdbcType=DECIMAL}, 
      #{parentcode,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{enableflag,jdbcType=CHAR}, #{adminflag,jdbcType=CHAR}, #{menutype,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{ts,jdbcType=VARCHAR}, 
      #{dr,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sj.web.model.bean.system.SysMenu" >
    update SYS_MENU
    set MENUCODE = #{menucode,jdbcType=VARCHAR},
      MENUNAME = #{menuname,jdbcType=VARCHAR},
      DISPLAYNAME = #{displayname,jdbcType=VARCHAR},
      DISPLAYORDER = #{displayorder,jdbcType=DECIMAL},
      LEV = #{lev,jdbcType=DECIMAL},
      PARENTCODE = #{parentcode,jdbcType=VARCHAR},
      ICONCLS = #{iconcls,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      ENABLEFLAG = #{enableflag,jdbcType=CHAR},
      ADMINFLAG = #{adminflag,jdbcType=CHAR},
      MENUTYPE = #{menutype,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      TS = #{ts,jdbcType=VARCHAR},
      DR = #{dr,jdbcType=CHAR}
    where PK_SYS_MENU = #{pkSysMenu,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_SYS_MENU, MENUCODE, MENUNAME, DISPLAYNAME, DISPLAYORDER, LEV, PARENTCODE, 
    ICONCLS, URL, ENABLEFLAG, ADMINFLAG, MENUTYPE, REMARK, CREATEUSER, TS, DR
    from SYS_MENU
    where PK_SYS_MENU = #{pkSysMenu,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_SYS_MENU, MENUCODE, MENUNAME, DISPLAYNAME, DISPLAYORDER, LEV, PARENTCODE, 
    ICONCLS, URL, ENABLEFLAG, ADMINFLAG, MENUTYPE, REMARK, CREATEUSER, TS, DR
    from SYS_MENU
    order by age desc,username asc
  </select>
</mapper>