<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.web.model.dao.system.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.sj.web.model.bean.system.SysRole" >
    <id column="PK_SYS_ROLE" property="pkSysRole" jdbcType="VARCHAR" />
    <result column="ROLECODE" property="rolecode" jdbcType="VARCHAR" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
    <result column="CREATEUSER" property="createuser" jdbcType="VARCHAR" />
    <result column="DR" property="dr" jdbcType="CHAR" />
    <result column="TS" property="ts" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_ROLE
    where PK_SYS_ROLE = #{pkSysRole,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sj.web.model.bean.system.SysRole" >
    insert into SYS_ROLE (PK_SYS_ROLE, ROLECODE, ROLENAME, 
      CREATEUSER, DR, TS, REMARK
      )
    values (#{pkSysRole,jdbcType=VARCHAR}, #{rolecode,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{dr,jdbcType=CHAR}, #{ts,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sj.web.model.bean.system.SysRole" >
    update SYS_ROLE
    set ROLECODE = #{rolecode,jdbcType=VARCHAR},
      ROLENAME = #{rolename,jdbcType=VARCHAR},
      CREATEUSER = #{createuser,jdbcType=VARCHAR},
      DR = #{dr,jdbcType=CHAR},
      TS = #{ts,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where PK_SYS_ROLE = #{pkSysRole,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_SYS_ROLE, ROLECODE, ROLENAME, CREATEUSER, DR, TS, REMARK
    from SYS_ROLE
    where PK_SYS_ROLE = #{pkSysRole,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_SYS_ROLE, ROLECODE, ROLENAME, CREATEUSER, DR, TS, REMARK
    from SYS_ROLE
  </select>
  
   <select id="selectAllByPage" resultMap="BaseResultMap" >
    select PK_SYS_ROLE, ROLECODE, ROLENAME, CREATEUSER, DR, TS, REMARK
    from SYS_ROLE
  </select>
  
  
   <select id="selectByRoleCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select PK_SYS_ROLE, ROLECODE, ROLENAME, CREATEUSER, DR, TS, REMARK
    from SYS_ROLE WHERE ROLECODE = #{rolecode,jdbcType=VARCHAR}
  </select>
  
</mapper>